@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --crema: #f6f4f2;
    --crema-oscuro: #e5e2dd;
    --blanco: #ffffff;
    --rojo: #be1622;
    --azul: #2f3b64;
    --verde: #089000;
}
